body {
  margin: 0;
  background-color: rgb(237, 237, 237);
  font-family: 'Arial', sans-serif;
  height: 100%;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

h1 {
  margin: 0;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
}

button {
  cursor: pointer;
  padding: 0;
}

p {
  font-size: 16px;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}